.icon-left {
   position: absolute;
   top: 10px;
   left: 10px;
}

.icon-right {
   position: absolute;
   bottom: 10px;
   right: 10px;
}

.season-display.winter i {
   color: rgb(126, 126, 255);
}

.season-display.summer i {
   color: rgb(255, 78, 78);
}

.season-display {
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 20px);
}

.winter {
   background-color: aliceblue;
}

.summer {
   background-color: rgb(255, 214, 138);
}